---
layout: layout
---

<section class="activity">
  <ul class="activity-list" uk-sortable uk-scrollspy="target: > li; cls: uk-animation-slide-top-small;">
    <li class="card card-hover">
      <p class="uk-text-meta">2020.04.26 晴</p>
      <span>终于写完了《从零开始的 Flutter 动画》这篇文章，貌似已经写了 3 个月 🐶</span>
    </li>
    <li class="card card-hover">
      <p class="uk-text-meta">2020.05.10 大雨</p>
      <span>告别旧处，迁入新居！</span>
    </li>
    <li class="card card-hover">
      <p class="uk-text-meta">2020.06.03 阴</p>
      <span>自作多情，自讨苦吃。</span>
    </li>
    <li class="card card-hover">
      <p class="uk-text-meta">2020.07.10 晴</p>
      <span>总有做(chao)完剑指 Offer 的算法题啦！🎉</span>
    </li>
  </ul>
</section>
