---
layout: layout
---

<section class="uk-card card"><%- page.content %></section>
<span>
  <%= __('post.updateTime') %>&#58;<time class="post-time"
    datetime="<%= page.updated.format(config.date_format) %>"><%= page.updated.format(config.date_format) %></time>
</span>
