.index-post-list-item img {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: block;
  width: 100%;
  height: 100%;
  line-height: 0;
  object-fit: cover;
  filter: blur(2px) opacity(0.6);
}

@media all and (max-width: 1280px) {
  .index-post-list-item img {
    display: none;
  }
}

.index-post-list-title {
  text-shadow: 0 0 12px white;
}

.page-number {
  padding: 0 2rem;
  margin: 0 2rem;
  font-weight: 300;
}

.page-number.current {
  font-weight: 600;
}
