<header class="header">
  <span class="logo">ColdStone's</span>
  <h1 class="title">Welcome to your new site!</h1>
  <p class="description">
    Here you can add a little introduction about your site.
  </p>
  <nav class="nav">
    <a class="nav-item" href="/about">about</a>
    <a class="nav-item" href="/hello">hello</a>
  </nav>
</header>
