<header class="header">
  <a class="logo" href="/">
    <img
      class="logo-img"
      src="https://avatars.githubusercontent.com/u/18013127?v=4"
    />
  </a>
  <div class="color" id="color"></div>
</header>
