<header class="header">
  <nav class="wrapper header-content">
    <h1 class="">
      <img class="avatar-img" height="180" src="<%= config.root %><%= config.avatar %>" />
    </h1>
  </nav>
</header>
