<div style="position: relative; z-index: 2147483647">
  <minymon-body
    enableFeed="true"
    enableTalk="true"
    idsString="MWFkZmVkMjctYmM0Ny00ZjgyLWEwMGQtYjI2ODUyOWUzY2JkLnNBYUd6VlFvajRRV0R0TFVvWUhDQg=="
    infoTitle="Hi there!"
    theme="blue"
  >
    <minymon-feedback
      description="Your message will be sent to the owner of this site."
      mid="1adfed27-bc47-4f82-a00d-b268529e3cbd"
      theme="blue"
      uid="sAaGzVQoj4QWDtLUoYHCB"
    >
    </minymon-feedback>
  </minymon-body>
</div>
